KERNEL=="mmcblk0p1", ENV{UDISKS_PRESENTATION_HIDE}="1"
KERNEL=="mmcblk0p2", ENV{UDISKS_PRESENTATION_HIDE}="1"
KERNEL=="mmcblk0p3", ENV{UDISKS_PRESENTATION_HIDE}="1"
KERNEL=="mmcblk0p4", ENV{UDISKS_PRESENTATION_HIDE}="1"
KERNEL=="mmcblk0p5", ENV{UDISKS_PRESENTATION_HIDE}="1"
KERNEL=="mmcblk0p6", ENV{UDISKS_PRESENTATION_HIDE}="1"
KERNEL=="mmcblk0p7", ENV{UDISKS_PRESENTATION_HIDE}="1"
KERNEL=="mmcblk0p8", ENV{UDISKS_PRESENTATION_HIDE}="1"
KERNEL=="mmcblk0p9", ENV{UDISKS_PRESENTATION_HIDE}="1"
KERNEL=="mmcblk0p10", ENV{UDISKS_PRESENTATION_HIDE}="1"
KERNEL=="mmcblk0p11", ENV{UDISKS_PRESENTATION_HIDE}="1"
KERNEL=="mmcblk0p12", ENV{UDISKS_PRESENTATION_HIDE}="1"
KERNEL=="mmcblk0p13", ENV{UDISKS_PRESENTATION_HIDE}="1"
KERNEL=="mmcblk0p14", ENV{UDISKS_PRESENTATION_HIDE}="1"

KERNEL=="video*", MODE="06660"


ACTION=="add", SUBSYSTEM=="scsi_host", KERNEL=="host*", ATTR{link_power_management_policy}="min_power"
ACTION=="add", SUBSYSTEM=="usb", TEST=="power/control", ATTR{power/control}="auto"
ACTION=="add", SUBSYSTEM=="usb", TEST=="power/autosuspend", ATTR{power/autosuspend}="3600"





